.flexMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.examitem:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

.centerFlex{
    display:flex;
    flex-direction:row;
    align-items:baseline;
    align-content: stretch;
    justify-content: space-between;
}
